<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<style type="text/css">
		body { margin:0; padding:0; font-size:12px; font-family:'µ¸¿ò', arial, sans-serif; line-height:18px; }
	</style>
</head>
<body style="cursor:text;">
	<div style="width:500px; height:80%; clear:both; overflow:hidden; padding-bottom:12px; margin-top:5px;">
		<div style="width:246px; height:100%; float:left; overflow:hidden; border:1px dotted #999; margin-right:2px;">&nbsp;<br />&nbsp;<br />&nbsp;</div>
		<div style="width:246px; height:100%; float:right; overflow:hidden; margin-left:2px; padding-bottom:6px;">
			<div style="clear:both; height:31%; border:1px dotted #999; margin-bottom:4px;">&nbsp;</div>
			<div style="clear:both; height:32%; border:1px dotted #999; margin-bottom:4px;">&nbsp;</div>
			<div style="clear:both; height:31%; border:1px dotted #999;">&nbsp;</div>
		</div>
	</div>
</body>
</html>
