<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">
	<style type="text/css">
		body { margin:0; padding:0; font-size:12px; font-family:'돋움', arial, sans-serif; line-height:18px; }
	</style>
</head>
<body>
	미리 준비된 템플릿 입니다.<br />
	<b>TEXTAREA에 기본값이 없는 경우</b> 이 페이지가 출력이 됩니다.<br />
	<b>[template]</b> 폴더에 기타 템플릿들을 저장후 불러올 수 있습니다.
</body>
</html>
